@{
    ViewData["Title"] = "Agendas";
}

<div class="text-center">
    <h1 class="display-4">Você não tem nenhuma agenda cadastrada no momento!</h1>
    <a class="btn btn-primary">Criar agenda</a>
</div>