@model List<Agendas>

@{
    ViewData["Title"] = "Agendas";
}

<div class="text-center">

    @if (Model.Count < 1)
    {
        <h1 class="display-4">Você não tem nenhuma agenda cadastrada no momento!</h1>
    }
    else 
    {
        foreach (var agenda in Model)
        {
            <div class="m-3 border-2 border-primary">
                <h4>@agenda.Name</h4>
                <a class="btn btn-primary">Acessar</a>
                <a class="btn btn-secondary">Editar</a>
            </div>
        }
    }
    <a class="btn btn-primary" asp-action="CreateAgenda" asp-controller="Agenda">Criar agenda</a>
</div>