@model List<Agendas>

@{
    ViewData["Title"] = "Agendas";
}

<div class="text-center">
    <div class="row">
        @if (Model.Count < 1)
        {
            <h1 class="display-4">Você não tem nenhuma agenda cadastrada no momento!</h1>
        }
        else 
        {
            <div class="d-flex justify-content-center">
                @foreach (var agenda in Model)
                {
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@agenda.Name</h5>
                            <p class="card-text">Acesse sua agenda para gerenciar seus compromissos.</p>
                            <a asp-action="Index" asp-controller="Compromisso" asp-route-agendaId="@agenda.Id" class="btn btn-primary">Acessar</a>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="p-3">
            <a class="btn btn-primary" asp-action="CreateAgenda" asp-controller="Agenda">Criar agenda</a>
        </div>
    </div>
</div>